.container-total
  .container
    %nav.menu-container
      .item-menu.about.large-padding
        .icon
          %span
            %i.fa.fa-users.fa-fw
        .item-container
          %a{:href => "#"}
            ¿Quienes somos?
        .content
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu
      .item-menu.cursos.large-padding
        .icon
          %span
            %i.fa.fa-book
        .item-container
          %a{:href => "#"}
            Cursos
        .content
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu
      .item-menu.test-vocacional.large-padding
        .icon
          %span
            %i.fa.fa-file-text-o
        .item-container
          %a{:href => "#"}
            Test Vocacional
        .content
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu
      .item-menu.examenes.large-padding
        .icon
          %span
            %i.fa.fa-superscript
        .item-container
          %a{:href => "#"}
            Examenes
        .content
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu
