.container-total
  .container
    %nav.menu-container
      .item-menu.about.large-padding.left
        .icon.sub-item-menu
          %span
            %a.users{:href => "#"}
              %i.fa.fa-users.fa-fw
        .item-container.sub-item-menu
          %a{:href => "#"}
            ¿Quienes somos?
        .content
          %p.sub-item-menu
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu
      .item-menu.cursos.large-padding.left
        .icon.sub-item-menu
          %span
            %a.book{:href => "#"}
              %i.fa.fa-book
        .item-container.sub-item-menu
          =link_to "Cursos" , courses_path           
        .content.sub-item-menu
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu
      .item-menu.test-vocacional.large-padding.left
        .icon.sub-item-menu
          %span
            %a.text{:href => "#"}
              %i.fa.fa-file-text-o
        .item-container.sub-item-menu
          %a{:href => "#"}
            Test Vocacional
        .content.sub-item-menu
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu
      .item-menu.examenes.large-padding.left
        .icon.sub-item-menu
          %span
            %a.superscript{:href => "#"}
              %i.fa.fa-superscript
        .item-container.sub-item-menu
          %a{:href => "#"}
            Examenes
        .content.sub-item-menu
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu
