.container-total
  .container
    %nav.menu-container
      .item-menu
        .icon
          %span
            %i.fa.fa-users
        %a{:href => "#"}
          ¿Quienes somos?
      .item-menu
        .icon
          %span
            %i.fa.fa-book
        %a{:href => "#"}
          Cursos
      .item-menu
        .icon
          %span
            %i.fa.fa-file-text-o
        %a{:href => "#"}
          Test Vocacional
      .item-menu
        .icon
          %span
            %i.fa.fa-superscript
        %a{:href => "#"}
          Examenes
