.max-container
  .container-flex
    .container-def
      %h1
        Bienvenido Giancarlos..!!!
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    .container-courses
      %ul.circle-courses
        %li
          %a{:href => "/"}
            %span
              %i.fa.fa-reddit-alien
            .content-course
              %h2
                Title Course
              %p Lorem ipsum dolor sit amet, consectetur ad
        %li
          %a{:href => "/"}
            %span
              %i.fa.fa-reddit-alien
            .content-course
              %h2
                Title Course
              %p Lorem ipsum dolor sit amet, consectetur ad
        %li
          %a{:href => "/"}
            %span
              %i.fa.fa-reddit-alien
            .content-course
              %h2
                Title Course
              %p Lorem ipsum dolor sit amet, consectetur ad
        %li
          %a{:href => "/"}
            %span
              %i.fa.fa-reddit-alien
            .content-course
              %h2
                Title Course
              %p Lorem ipsum dolor sit amet, consectetur ad
        %li
          %a{:href => "/"}
            %span
              %i.fa.fa-reddit-alien
            .content-course
              %h2
                Title Course
              %p Lorem ipsum dolor sit amet, consectetur ad
        %li
          %a{:href => "/"}
            %span
              %i.fa.fa-reddit-alien
            .content-course
              %h2
                Title Course
              %p Lorem ipsum dolor sit amet, consectetur ad
        %li
          %a{:href => "/"}
            %span
              %i.fa.fa-reddit-alien
            .content-course
              %h2
                Title Course
              %p Lorem ipsum dolor sit amet, consectetur ad
        %li
          %a{:href => "/"}
            %span
              %i.fa.fa-reddit-alien
            .content-course
              %h2
                Title Course
              %p Lorem ipsum dolor sit amet, consectetur ad
